* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Droid Sans', sans-serif;
}

h1 {
  font-family: 'Eagle Lake', cursive;
}

a {
  color: inherit;
}

.hover {
  border-bottom: 2px dashed green;
}

.active {
  border: none;
  border-bottom: 2px solid green;
}

.orgHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background: #222;
  color: #eee;
  padding: 5%;
}

.orgHeader h1 {
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 2%;
}

.btn {
  width: auto;
  padding: 1% 2%;
  border: none;
  border-radius: 2em;
}

.btn-join {
  background-color: darkgreen;
}

.nav {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav li {
  width: auto;
  display: inline-block;
  padding: 2%;
  white-space: nowrap;
}

.nav li, .photos img {
  cursor: pointer;
}

.join {
  width: 100%;
  padding: 5%;
}

.join form {
  width: 100%;
  margin: auto;
}

.join form input {
  width: 100%;
  margin: 2% auto;
  padding: 2%;
}

.btn-submit {
  background-color: #222;
  color: white;
  text-align: center;
}

.section, .join {
  width: 100%;
  padding: 5%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events {
  display: flex;
}


.event {
  padding: 5%;
  color: #1B2F33;
  border-bottom: 2px solid #0D1321;
}

.event:last-of-type {
  border-bottom: none;
}

.title {
  text-align: center;
  margin: 2%;
  color: #2A2D34;
}

.subtitle {
  margin: 2% auto;
  text-transform: capitalize;
}

.event .subtitle {
  color: #6290C3;
}

.eventDescription {
  margin: 2% 0;
}

.time {
  margin-left: 0.5em;
}

.time:before {
  content: '@';
  margin-right: 0.5em;
}

.time, .date {
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: bold;
  color: #A8763E;
}

.members .subtitle {
  border-bottom: 1px solid;
}

.members div {
  width: 100%;
  margin: 2% 0;
}

.members div > ul {
  display: flex;
  flex-wrap: wrap;
}

.members ul > ul {
  width: auto;
  padding: 2%;
  margin: 0 1%;
  list-style-type: none;
}

.contacts li:before {
  content: attr(class) ': ';
  text-transform: capitalize;
  font-weight: bold;
}

.resources li {
  text-align: center;
}

.rules ul {
  padding: 2% 5%;
}

.rules li {
  list-style: decimal outside;
  padding-left: 1em;
}

.galleryNav {
  width: 100%;
  text-align: center;
}

.galleryNav li {
  width: auto;
  display: inline-block;
  padding: 2%;
  white-space: nowrap;
}

.photos {
  width: 90%;
}

.meet, .study, .classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border: 5px solid transparent;
}

.about p {
  margin: 1% 0;
  text-indent: 3em;
  line-height: 1.5em;
}

.focus {
  width: 100%;
}

@media only screen and (min-width: 768px){
  .join {
    width: 600px;
    margin: auto;
  }

  .section {
    width: 80%;
    margin: auto;
  }

  .photos {
    width: 80%;
  }

  .photos img {
    width: 220px;
    height: 150px;
    max-height: 150px;
    object-fit: cover;
  }

  .photos .focus {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: scale-down;
  }
}